.registration__wrapper {
  display: flex;
  height: 100vh;
}

.registration__background {
  width: 60vw;
}

.registration__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}

.registration__title {
  font-size: 40px;
}

.registration__subtitle {
  margin-top: 10px;
  font-size: 24px;
}

.registration__form {
  margin-top: 40px;
}

.registration__have_account {
  margin-top: 70px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}

.registration_login {
  display: flex;
  align-items: center;
  margin-top: 30px;
  text-decoration: none;
}

.registration_login:hover {
  text-decoration: underline;
}

.registration_login__text {
  width: max-content;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;

  color: #2c4b85;
}

.registration_login__arrow {
  margin-left: 20px;
  display: inline-block;
  background-image: url("@/assets/img/log-in-arrow.svg");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 50px;
  height: 100%;
}
